.donation-container {
    width: 700px;
    background-color: #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.3);
    height: auto;
    padding-top: 25px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;





    .top {
        width: 650px;

        p {
            font-size: 12px;
            font-weight: 500;
        }
    }

    .custom-amount-container {
        width: 650px;
        display: flex;
        align-items: center;
        gap: 5px;

        input {
            width: 250px;
            height: 35px;
            border: none;
            outline: 1px solid gray;
            padding: 15px;
        }

        button {
            height: 35px;
            width: 80px;
            padding: 10px;
            border: none;
            cursor: pointer;
            color: #ffffff;
        }

        .accept {
            background-color: rgb(5, 163, 5);

        }

        .cancel {
            background-color: rgb(197, 16, 16);
        }
    }

    .donation-buttons {

        width: 650px;
        display: flex;
        gap: 5px;

        .pound {
            height: 12px;
            width: auto;
        }

        button {
            width: 80px;
            max-width: 80px;
            height: 35px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 17px;
            background-color: rgb(235, 237, 244);
            border: 1px solid gray;
            cursor: pointer;


        }

        .active {
            background-color: rgb(49, 156, 161);
            color: #ffffff;

            .pound {
                filter: invert(100%) sepia(95%) saturate(21%) hue-rotate(22deg) brightness(105%) contrast(108%);
            }

            .selected-img {
                height: 18px;
                width: auto;
                padding: 0 5px 0 5px;
            }
        }

        .custom-amount {
            height: 35px;
            display: flex;
            justify-content: flex-start;
            background-color: white;
            border: 1px solid gray;
            gap: 5px;
            width: 160px;
            max-width: 160px;
            padding: 5px 0px 5px 10px;
            font-size: 11px;
            font-weight: 700;
        }

        .custom-amount-active {
            background-color: rgb(49, 156, 161);
            color: #ffffff;

            img {
                height: 18px;
                width: auto;
                padding: 0 5px 0 5px;
            }
        }

        .submit-button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 200px;
            max-width: 200px;
            background-color: rgb(246, 146, 32);
            border: none;
            font-size: 14px;
            font-weight: 700;
            padding: 5px;

            .submit-button-secure {
                display: flex;
                align-items: center;
                gap: 2px;

                .secure {
                    height: 12px;
                    width: 15px;
                }
            }
        }
    }

    .message {
        display: flex;
        align-items: center;
        padding: 15px;
        width: 650px;
        height: 50px;
        background-color: rgb(251, 206, 155);

        p {
            font-size: 13px;
            font-weight: 600;
        }

    }

    .payment-info {
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(234, 237, 244);
        padding: 25px;


        .credit-cards {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
                height: 14px;
            }
        }

        .payment-text {
            text-decoration: underline;
            text-underline-offset: 3px;
            font-size: 11px;
            font-weight: 500;
            cursor: pointer;
        }

        .payment-details {
            display: flex;
            align-items: center;
            gap: 15px;

            p {
                font-size: 10px;
                color: gray;
                text-decoration: none;
            }

            .payment-images {
                display: flex;
                gap: 10px;

                img {
                    height: 20px;
                    width: auto;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .donation-container {
        width: 500px;


        .custom-amount-container {
            width: 400px;
            display: flex;
            align-items: center;
            gap: 5px;

            input {
                width: 250px;
                height: 35px;
                border: none;
                outline: 1px solid gray;
                padding: 15px;
            }


        }

        .top {
            width: 400px;
        }

        .donation-buttons {
            width: 400px;
            flex-wrap: wrap;

            .custom-amount {
                width: 120px;
            }

            .submit-button {
                width: 180px;
            }
        }

        .message {
            width: 500px;
        }
    }
}

@media screen and (max-width: 510px) {
    .donation-container {
        width: 80%;
        height: 500px;
        justify-content: space-between;

        .custom-amount-container {
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            input {
                width: 250px;
            }

            button {
                width: 250px;
            }


        }

        .top {
            display: flex;
            max-width: 100%;
            justify-content: center;
        }

        .top p {
            font-size: 13px;
        }

        .donation-buttons {
            justify-content: center;
            gap: 15px;
            max-width: 100%;

            button {
                width: 150px;
                max-width: 150px;
            }

            .custom-amount {
                width: 315px;
                max-width: 315px;
                font-size: 16px;
            }

            .submit-button {
                width: 315px;
                max-width: 315px;
            }
        }

        .message {
            width: 315px;
            height: auto;
        }

        .payment-info {
            height: 150px;
            flex-direction: column-reverse;
            align-items: center;

            .credit-cards {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    height: 18px;
                }
            }

            .payment-details {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                width: 100%;

                p {
                    font-size: 12px;
                    text-align: center;
                }

                .payment-images {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 424px) {
    .donation-container {
        width: 80%;
        height: 500px;
        justify-content: space-between;

        .custom-amount-container {
            width: 80%;
            display: flex;
            align-items: center;
            gap: 5px;

            input {
                width: 80%;
            }

            button {
                width: 80%;
            }


        }

        .top {
            display: flex;
            width: 90%;
            justify-content: center;
        }

        .top p {
            font-size: 13px;
            width: 100%;
        }

        .donation-buttons {
            justify-content: center;


            button {
                width: 42%;
            }

            .custom-amount {
                width: 90%;
                font-size: 16px;
            }

            .submit-button {
                width: 90%;
            }
        }

        .message {
            width: 90%;
            min-height: 75px;
            height: auto;
        }

        .payment-info {
            height: 150px;
            flex-direction: column-reverse;
            align-items: center;

            .payment-text {
                font-size: 11px;
            }

            .payment-details {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                width: 100%;

                p {
                    font-size: 12px;
                    text-align: center;
                }

                .payment-images {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }
            }
        }
    }
}